<div *ngIf="message">
    <h2>{{ message.text }}</h2>
    <div>
        Contact:
        <input [(ngModel)]="message.contactName" placeholder="Contact"/>
    </div>
    <div>
        Email:
        <input [(ngModel)]="message.contactEmail" placeholder="Contact"/>
    </div>
    <div>
        Phone:
        <input [(ngModel)]="message.contactPhone" placeholder="Contact"/>
    </div>
    <div>
        Topic:
        <input [(ngModel)]="message.topicName" placeholder="Topic"/>
    </div>
    <div>
        Text:
        <input [(ngModel)]="message.text" placeholder="Name"/>
    </div>
    <button>Save</button>
</div>
