<div *ngIf="showForm">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label>Contact Name:</label>
      <input type="text" [(ngModel)]="message.contactName" name="contactName">
    </div>
    <div>
      <label>Contact Email:</label>
      <input type="email" [(ngModel)]="message.contactEmail" name="contactEmail">
    </div>
    <div>
      <label>Contact Phone:</label>
      <input type="tel" [(ngModel)]="message.contactPhone" name="contactPhone">
    </div>
    <div>
      <label>Topic Name:</label>
      <input type="text" [(ngModel)]="message.topicName" name="topicName">
    </div>
    <div>
      <label>Text:</label>
      <textarea [(ngModel)]="message.text" name="text"></textarea>
    </div>
    <button type="submit">Add Message</button>
  </form>
</div>

<div *ngIf="!showForm">
  <div class="saved-message">
    <h2>Сообщение сохранено:</h2>
    <p>{{ savedMessage.text }}</p>
  </div>
</div>